<a href="https://colab.research.google.com/github/AlexandreMenezesSa/Python-Beginner/blob/master/Indexa%C3%A7%C3%A3o_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Indexação - Pandas**

In [ ]:
# importando as bibliotecas

import pandas as pd
import datetime

In [ ]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [ ]:
df.head(3)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

In [ ]:
# seleção de uma coluna

df['temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [ ]:
#tipo
df[['date', 'classification', 'temperatura']]

         date classification  temperatura
0  2020-01-01         quente         29.1
1  2020-02-01   muito quente         31.2
2  2020-03-01         quente         28.5
3  2020-04-01         quente         28.0
4  2020-05-01    confortavel         24.0
5  2020-06-01           frio         20.0

In [ ]:
df[['temperatura','classification','date']]

   temperatura classification        date
0         29.1         quente  2020-01-01
1         31.2   muito quente  2020-02-01
2         28.5         quente  2020-03-01
3         28.0         quente  2020-04-01
4         24.0    confortavel  2020-05-01
5         20.0           frio  2020-06-01

In [ ]:
#iloc

df.iloc?

In [ ]:
# indexação por índice
# selecionado todas as linhas e a coluna 1
# coluna 1: temperatura

a = df.iloc[:,1]
a

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [ ]:
# indexação por nome
# selecionado todas as linhas e a coluna 1

df.loc[:, 'temperatura']

0    29.1
1    31.2
2    28.5
3    28.0
4    24.0
5    20.0
Name: temperatura, dtype: float64

In [ ]:
# indexação por índice de múltiplas colunas, possivel fatiar o dado a uma linha e coluna especifica.

df.iloc[4:5,0:3]

         date  temperatura classification
4  2020-05-01         24.0    confortavel

In [ ]:
# indexação por nome de múltiplas colunas

df.loc[:,['temperatura', 'classification']]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

In [ ]:
# indexação por nome de múltiplas colunas

df.loc[:, 'temperatura':]

   temperatura classification
0         29.1         quente
1         31.2   muito quente
2         28.5         quente
3         28.0         quente
4         24.0    confortavel
5         20.0           frio

### **Indexação booleana**

In [ ]:
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [ ]:
# transformando o tipo da coluna date para datetime

df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [ ]:
# setando o índice

df = df.set_index('date')

In [ ]:
df

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel
2020-06-01         20.0           frio

In [ ]:
# dtype
df.dtypes

temperatura       float64
classification     object
dtype: object

In [ ]:
df.head()

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente
2020-05-01         24.0    confortavel

In [ ]:
# indexação booleana
# seleção de exemplos acima de 25 graus

cond= df['temperatura'] >= 25
df[cond]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente
2020-04-01         28.0         quente

In [ ]:
cond= df['temperatura'] >= 25
cond

date
2020-01-01     True
2020-02-01     True
2020-03-01     True
2020-04-01     True
2020-05-01    False
2020-06-01    False
Name: temperatura, dtype: bool

In [ ]:
# indexação booleana considerando datetime
# seleção de entradas até Março de 2020


cond = df.index <= '2020-03-01'
df[cond]

            temperatura classification
date
2020-01-01         29.1         quente
2020-02-01         31.2   muito quente
2020-03-01         28.5         quente

In [ ]:
df.index

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [ ]:
# indexação booleana considerando datetime
# seleção de entradas até Março de 2020 e 
# slice na coluna classification

df.loc[df.index <= '2020-03-01',['classification']]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente

In [ ]:
# indexação booleana considerando datetime
# seleção de entradas até Março de 2020 e 
# slice na coluna classification

df.iloc[df.index <= '2020-03-01', [-1]]

           classification
date
2020-01-01         quente
2020-02-01   muito quente
2020-03-01         quente