<a href="https://colab.research.google.com/github/AlexandreMenezesSa/Python-Beginner/blob/master/Pandas_Leitura_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Pandas - Leitura de dados**

In [ ]:
# importando as bibliotecas

import pandas as pd

In [ ]:
pd.read_csv?

In [ ]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [ ]:
# leitura de planilhas excel
# 2 abas (worksheets)

# leitura do arquivo todo
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [ ]:
type(excel_file)

pandas.io.excel._base.ExcelFile

In [ ]:
# leitura da primeira aba (Sheet1)
# dados numéricos com separador decimal = '.'

df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [ ]:
# leitura da segunda aba (Sheet2)
# dados numéricos com separador decimal = ','

df3 = pd.read_excel(excel_file, sheet_name ='Sheet2')
df3["temperatura"] = df3["temperatura"].str.replace(',', '.').astype('float')
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

In [ ]:
# visualizando as primeiras n linhas

n = 2
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente

In [ ]:
# dtypes

df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

In [ ]:
df3.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

In [ ]:
# estatísticas básicas

df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

In [ ]:
df.info

<bound method DataFrame.info of          date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio>

In [ ]:
df.columns = ['col1','col2','col3']

In [ ]:
df

         col1  col2          col3
0  2020-01-01  29.1        quente
1  2020-02-01  31.2  muito quente
2  2020-03-01  28.5        quente
3  2020-04-01  28.0        quente
4  2020-05-01  24.0   confortavel
5  2020-06-01  20.0          frio