<a href="https://colab.research.google.com/github/AlexandreMenezesSa/Python-Beginner/blob/master/Trabalho_Pratico_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Trabalho Pratico **1** Modulo 2

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# codigo 1

z = np.zeros((4, ))
print("z:", z)

z: [0. 0. 0. 0.]

In [ ]:
#codigo 2

z = np.zeros((4, ))
z[1]= 1.
print("z:", z)

z: [0. 1. 0. 0.]

In [ ]:
#codigo 3

z = np.zeros((4, ))
z[1:]= 1.
print("z:", z)

z: [0. 1. 1. 1.]

In [ ]:
#codigo 4

z = np.ones((4, ))
z[-1]= 0.
print("z:", z)

z: [1. 1. 1. 0.]

In [ ]:
#codigo 5
z = np.ones((2, 2))
x = z * 2
print("X \n", x)

X
 [[2. 2.]
 [2. 2.]]

In [ ]:
#codigo 6

x = np.array([[1,2],[3,4]])
y = x[0,:]
y[1] = 10
print("x:\n", x)

x:
 [[ 1 10]
 [ 3  4]]

In [ ]:
#codigo 7

X = np.array([[1,3],[11,10]])
print(np.mean(X[X > np.pi]))

10.5

In [ ]:
#codigo 8
data = {'animal':['cat','cat','snake','dog','dog','cat','snake','cat','dog','dog'],
        'age':[2.5,3.0,0.5,np.nan,5,2,4.5,np.nan,7,3],
        'visits':[1,3,2,3,2,3,1,1,2,1],
        'priority':['yes','yes','no','yes','no','no','no','yes','no','no']}
        
    
labels = ['a','b','c','d','e','f','g','h','i','j']

In [ ]:
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [ ]:
#codigo 9
 
df = pd.DataFrame(data=data, index=labels)

In [ ]:
#codigo 10

y_true = np.array([2. ,2. ,1. ])
y_pred = np.array([1.1 ,1.98 ,1.05 ])